#infomation {
    width: 450px;
    height: 350px;
    margin: auto;
    border: 1px solid;
    background-color: rgb(237, 237, 189);
}

tr td {
    border: 1px solid;
}

#title {
    text-align: center;
    color: rgb(100, 84, 206);
}

#guest {
    font-style: italic;
}

#button {
    text-align: center;
}

span {
    color: red;
}

fieldset {
    margin: auto;
    border-color: darkred;
    width: 350px;
    height: 55px;
}

legend {
    color: darkred;

}

#success {
    width: 100%;
    height: 20px;
    text-align: center;
}


